label.error{
    display:none !important;
}
input.error,
textarea.error,
select.error{
    outline: 0;
    border: 1px solid red !important;
}
input.valid.error,
textarea.valid.error,
select.valid.error{
    outline: 0;
    border: 1px solid red !important;
}
input.error[type=radio]{
    outline: 1px solid red  !important;
}
input.valid[type=radio]{
    outline: 0px solid red  !important;
}
input.valid,
textarea.valid,
select.valid{
    outline: 1;
    border-color:initial;
}
.sign-in-form .btn.btn-md,.sign-in-form .btn.btn-md i{font-size: 17px;  line-height: 17px;color: white;vertical-align: bottom !important;}